In [1]:
# merging datasets in Python

In [1]:
import pandas as pd

!pip install openpyxl

Requirement already satisfied: openpyxl in c:\python3\lib\site-packages (3.0.9)
Requirement already satisfied: et-xmlfile in c:\python3\lib\site-packages (from openpyxl) (1.1.0)

WARNING: You are using pip version 22.0.4; however, version 22.1 is available.
You should consider upgrading via the 'C:\Python3\python.exe -m pip install --upgrade pip' command.

In [2]:
'C:\Python3\python.exe -m pip install --upgrade pip'

'C:\\Python3\\python.exe -m pip install --upgrade pip'

In [13]:
PlaneFeatures = pd.read_excel("PlaneFeatures.xlsx")
PlaneFeatures.head()

,adshex,duration1,duration2,duration3,duration4,duration5,boxes1,boxes2,boxes3,boxes4,...,steer3,steer4,steer5,steer6,steer7,steer8,flights,squawk_1,observations,type
0,A,0.120253,0.075949,0.183544,0.335443,0.284810,0.088608,0.044304,0.069620,0.120253,...,0.270550,0.344090,0.097317,0.186651,0.011379,0.009426,158,0,11776,GRND
1,A00000,0.211735,0.155612,0.181122,0.198980,0.252551,0.204082,0.183673,0.168367,0.173469,...,0.240732,0.356314,0.116116,0.159325,0.012828,0.013628,392,0,52465,TBM7
2,A00002,0.517241,0.103448,0.103448,0.103448,0.172414,0.862069,0.137931,0.000000,0.000000,...,0.174954,0.244015,0.034070,0.202578,0.021179,0.068140,29,0,1086,SHIP
3,A00008,0.125000,0.041667,0.208333,0.166667,0.458333,0.125000,0.083333,0.125000,0.166667,...,0.202665,0.380515,0.094669,0.182904,0.014706,0.020221,24,0,2176,PA46
4,A0001E,0.100000,0.200000,0.200000,0.400000,0.100000,0.100000,0.000000,0.100000,0.400000,...,0.249206,0.326984,0.112698,0.206349,0.012698,0.011111,10,1135,630,C56X

In [14]:
PlaneCandidates = pd.read_excel("PlaneCandidates.xlsx")
PlaneCandidates.head()

,other,surveil,adshex,squawk_1,name,reg
0,0.0750,0.9250,A4FB3C,5310,CITY OF MESA ARIZONA,N42WB
1,0.0995,0.9005,A13098,4415,NaN,NaN
2,0.1010,0.8990,A7D925,230,ORANGE COUNTY SHERIFFS DEPARTMENT RNSP,N6045C
3,0.1085,0.8915,A63E52,5306,CHAPARRAL AIR GROUP,N501GW
4,0.1230,0.8770,A1B621,5240,MIDWEST AIRMOTIVE INC,N2092S

In [8]:
# use pd.merge and inner join 

PlaneFeatures1 = pd.merge(PlaneFeatures, PlaneCandidates, how='inner')

In [11]:
PlaneFeatures1.head()

,adshex,duration1,duration2,duration3,duration4,duration5,boxes1,boxes2,boxes3,boxes4,...,steer7,steer8,flights,squawk_1,observations,type,other,surveil,name,reg
0,A00324,0.000000,0.000000,0.000000,0.235294,0.764706,0.000000,0.735294,0.176471,0.029412,...,0.004270,0.002393,34,5347,21310,C208,0.4780,0.5220,J A AERO INC,N10JA
1,A005D8,0.241379,0.137931,0.137931,0.103448,0.379310,0.241379,0.068966,0.310345,0.206897,...,0.007288,0.016553,29,5011,8095,unknown,0.1370,0.8630,NaN,NaN
2,A008A4,0.279570,0.112903,0.134409,0.118280,0.354839,0.263441,0.263441,0.284946,0.134409,...,0.012515,0.025235,186,0,19576,C208,0.3105,0.6895,COSTAR FIELD RESEARCH LLC,N101CG
3,A00948,0.090909,0.545455,0.272727,0.090909,0.000000,0.272727,0.545455,0.181818,0.000000,...,0.010855,0.006106,11,0,1474,unknown,0.5470,0.4530,TAUN-TAUN TRANSPORTATION LLC,N101JW
4,A00A41,0.000000,0.536585,0.195122,0.073171,0.195122,0.695122,0.304878,0.000000,0.000000,...,0.013522,0.009820,82,204,20264,RV3,0.3730,0.6270,VERTICAL AIR INC,N101UV